# Specific Bazel build/test options.
build:macos --cxxopt='-std=c++17' --host_cxxopt='-std=c++17'

build:linux --cxxopt='-std=c++17' --host_cxxopt='-std=c++17'

build:windows --cxxopt="/std:c++17" --host_cxxopt='/std:c++17'

build --enable_platform_specific_config
