[submodule "dev-tools"]
	path = dev-tools
	url = https://github.com/3rdparty/dev-tools.git
[submodule "submodules/stout-flags"]
	path = submodules/stout-flags
	url = https://github.com/3rdparty/stout-flags.git
[submodule "submodules/stout-borrowed-ptr"]
	path = submodules/stout-borrowed-ptr
	url = https://github.com/3rdparty/stout-borrowed-ptr.git
[submodule "submodules/stout-notification"]
	path = submodules/stout-notification
	url = https://github.com/3rdparty/stout-notification.git
[submodule "submodules/stout-stateful-tally"]
	path = submodules/stout-stateful-tally
	url = https://github.com/3rdparty/stout-stateful-tally.git
[submodule "submodules/stout-atomic-backoff"]
	path = submodules/stout-atomic-backoff
	url = https://github.com/3rdparty/stout-atomic-backoff.git
